{% extends 'base.html' %}

{% block content %}
<div ng-controller="myCtrl">
	<div ng-repeat="item in categories">
		{% verbatim %}
			{{item.name}}
		{% endverbatim %}
	</div>
	<form ng-submit="sendPost()">
		<input ng-model="newName"/>
		<button type="submit">Send</button>
	</form>

</div>
<script>
function myCtrl($scope, $http) {
	$scope.hello = {name: "Boaz"};
	$scope.newName = "";
	$scope.categories = $http.get("/dev/category?format=json").then(function(response){
			console.log(response)
			return response.data
		})
	$scope.sendPost = function() {
		$http.defaults.headers.post['X-CSRFToken'] = '{{ csrf_token }}' ;

		var res = $http.post("/dev/category",
			{'name': $scope.newName, 'csrfmiddlewaretoken': '{{ csrf_token }}'});
		$scope.categories = $http.get("/dev/category?format=json").then(function(response){
			console.log(response)
			return response.data
		})


		return "";
	}
}
</script>
{% endblock %}
