{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="panel panel-primary col-xs-6 col-xs-offset-3">
        <div class="panel-heading"><h4 class="text-center"><strong>{{ category }}<strong></h4></div>
        <table class="table">
            <thead>
                <tr>
                    <th>رتبه</th>
                    <th>نام کاربری</th>
                    <th>امتیاز</th>
                </tr>
            </thead>
            <tbody>

                {% for score in ranking %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ score.user }}</td>
                        <td>{{ score.score }}</td>
                    </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>
</div>
{% endblock %}
