{% extends 'base.html' %}

{% block content %}
    {% if questions %}
    <div class="container">
        <div class="list-group col-xs-6 col-xs-offset-3">
                {% for question in questions %}
                    <div class="list-group-item">
                        <h4><strong>سوال: </strong>{{ question.question_text }}</h4>
                        <ul class="list-group" id="shuffle">
                            <li class="list-group-item active">{{ question.right_answer }}</li>
                            <li class="list-group-item">{{ question.choice2 }}</li>
                            <li class="list-group-item">{{ question.choice3 }}</li>
                            <li class="list-group-item">{{ question.choice4 }}</li>
                        </ul>
                    </div>
                {% endfor %}
        </div>
    </div>
    {% else %}
        <div class="container">
            <div class="well col-xs-6 col-xs-offset-3">
                <h4>سوالی نیست</h4>
            </div>
        </div>
    {% endif %}
{% endblock %}
