{% load staticfiles %}

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-rtl/3.2.0-rc2/css/bootstrap-rtl.css">

    <link rel="stylesheet" href= "{% static 'css/main.css' %}">
</head>

<body>
    <nav class="navbar navbar-default " role="navigation">
       <div class="container">
           <ul class="nav navbar-nav">
             <li><a href="."><span class="glyphicon glyphicon-home"></span> خانه</a></li>
                </ul>
           <p class="nav navbar-nav navbar-left">
               <a class="btn btn-success navbar-btn" href="#" id="register">
                    ثبت نام
               </a>
               <a class="btn btn-default navbar-btn" href="#" id="login">
                    ورود
               </a>
           </p>
       </div>
     </nav>
     {% block content %}{% endblock %}
</body>

</html>
