{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="jumbotron">
        <div class="row">
            <div class="col-xs-6">
                <h1>بالاآزمونک</h1>
                <p>سوال جواب بدید، امتیاز بگیرید</p>
            </div>
            <div class="col-xs-6 ">
                <p style="padding:40px;"></p>
                <a class="btn btn-warning btn-lg" href="/spquiz/">
                    <span class="glyphicon glyphicon-play"></span>بازی تک‌نفره
                </a>
                <a class="btn btn-danger btn-lg" href="/mpquiz/">
                    <span class="glyphicon glyphicon-forward"></span>  بازی دو‌نفره <span class="badge"> {{awaiting_matches}} </span>
                </a>
                <a class="btn btn-info btn-lg" href="/leaderboard">
                    <span class="glyphicon glyphicon-stats"></span>  جدول امتیازات
                </a>
            </div>
    </div>
</div>
{% endblock %}
