{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="jumbotron">
        <div class="container">
            <div class="row row-header">
                <div class="col-xs-6">
                    <h1>ثبت نام کنید :)</h1>
                </div>

                <div class="col-md-offset-2">
                    <form role="form">
                            <div class="input-group">
                                <div class="col-xs-12">
                                    <input type="text" class="form-control" placeholder="نام" id="name">
                                </div>
                            </div>
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="نام" id="name">
                            </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>

{% endblock %}
